<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-posologia-farmatify-heading" jhiTranslate="farmatifyApp.posologia.home.createOrEditLabel">Create or edit a Posologia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!posologia.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="posologia.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.posologia.dias" for="field_dias">Dias</label>
                    <input type="number" class="form-control" name="dias" id="field_dias"
                        [(ngModel)]="posologia.dias" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.posologia.horas" for="field_horas">Horas</label>
                    <input type="number" class="form-control" name="horas" id="field_horas"
                        [(ngModel)]="posologia.horas" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.posologia.medicamento" for="field_medicamento">Medicamento</label>
                    <select class="form-control" id="field_medicamento" name="medicamento" [(ngModel)]="posologia.medicamentoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medicamentoOption.id" *ngFor="let medicamentoOption of medicamentos; trackBy: trackMedicamentoById">{{medicamentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
