<div>
    <h2 id="page-heading">
        <span jhiTranslate="farmatifyApp.farmacia.home.title">Farmacias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-farmacia-farmatify" [routerLink]="['/farmacia-farmatify/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="farmatifyApp.farmacia.home.createLabel">
            Create new Farmacia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'farmatifyApp.farmacia.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="farmacias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="farmatifyApp.farmacia.calle">Calle</span></th>
            <th><span jhiTranslate="farmatifyApp.farmacia.codigoPostal">Codigo Postal</span></th>
            <th><span jhiTranslate="farmatifyApp.farmacia.ciudad">Ciudad</span></th>
            <th><span jhiTranslate="farmatifyApp.farmacia.provincia">Provincia</span></th>
            <th><span jhiTranslate="farmatifyApp.farmacia.titular">Titular</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let farmacia of farmacias ;trackBy: trackId">
                <td><a [routerLink]="['/farmacia-farmatify', farmacia.id, 'view' ]">{{farmacia.id}}</a></td>
                <td>{{farmacia.calle}}</td>
                <td>{{farmacia.codigoPostal}}</td>
                <td>{{farmacia.ciudad}}</td>
                <td>{{farmacia.provincia}}</td>
                <td>{{farmacia.titular}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/farmacia-farmatify', farmacia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/farmacia-farmatify', farmacia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'farmacia-farmatify', { outlets: { popup: farmacia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
