<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-subscripcion-farmatify-heading" jhiTranslate="farmatifyApp.subscripcion.home.createOrEditLabel">Create or edit a Subscripcion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!subscripcion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="subscripcion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.subscripcion.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
                    <div class="d-flex">
                        <input id="field_fechaInicio" type="datetime-local" class="form-control" name="fechaInicio" [(ngModel)]="fechaInicio" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.subscripcion.fechaFin" for="field_fechaFin">Fecha Fin</label>
                    <div class="d-flex">
                        <input id="field_fechaFin" type="datetime-local" class="form-control" name="fechaFin" [(ngModel)]="fechaFin" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.subscripcion.farmacia" for="field_farmacia">Farmacia</label>
                    <select class="form-control" id="field_farmacia" name="farmacia" [(ngModel)]="subscripcion.farmaciaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="farmaciaOption.id" *ngFor="let farmaciaOption of farmacias; trackBy: trackFarmaciaById">{{farmaciaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.subscripcion.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="subscripcion.usuarioId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="farmatifyApp.subscripcion.medicamento" for="field_medicamento">Medicamento</label>
                    <select class="form-control" id="field_medicamento" name="medicamento" [(ngModel)]="subscripcion.medicamentoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medicamentoOption.id" *ngFor="let medicamentoOption of medicamentos; trackBy: trackMedicamentoById">{{medicamentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
