<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subscripcion">
            <h2><span jhiTranslate="farmatifyApp.subscripcion.detail.title">Subscripcion</span> {{subscripcion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="farmatifyApp.subscripcion.fechaInicio">Fecha Inicio</span></dt>
                <dd>
                    <span>{{subscripcion.fechaInicio}}</span>
                </dd>
                <dt><span jhiTranslate="farmatifyApp.subscripcion.fechaFin">Fecha Fin</span></dt>
                <dd>
                    <span>{{subscripcion.fechaFin}}</span>
                </dd>
                <dt><span jhiTranslate="farmatifyApp.subscripcion.farmacia">Farmacia</span></dt>
                <dd>
                    <div *ngIf="subscripcion.farmaciaId">
                        <a [routerLink]="['/farmacia-farmatify', subscripcion.farmaciaId, 'view']">{{subscripcion.farmaciaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="farmatifyApp.subscripcion.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="subscripcion.usuarioId">
                        <a [routerLink]="['/usuario-farmatify', subscripcion.usuarioId, 'view']">{{subscripcion.usuarioId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subscripcion-farmatify', subscripcion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
