<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="farmatifyApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="farmatifyApp.cliente.usuario">Usuario</span></dt>
                <dd>
                    <span>{{cliente.usuario}}</span>
                </dd>
                <dt><span jhiTranslate="farmatifyApp.cliente.password">Password</span></dt>
                <dd>
                    <span>{{cliente.password}}</span>
                </dd>
                <dt><span jhiTranslate="farmatifyApp.cliente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente-farmatify', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
